        html,
        body,
        header,
        .jarallax {
          height: 100%;
        }
        .view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #212529;
}

#fb {
     color: #3b5998;
    
}
#li{
    color: #0077B5;
}


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #212529;
    }
}